@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --main-font-family: "DM Sans";
}

[data-theme="light"] {
  --main-background: #E8EEF2;
  --main-color: 21, 23, 162;
  --default-line-height: 1.2;
  --title-color: #000000;
  --mini-title-color: #000000;
  --description-color: 107, 107, 111;
  --scrollbar-thumb-background: #e6e6e6;
  --scrollbar-track-background: #f9fafb;
  --scrollbar-track-hover-background: #e6e6e6;

  //Menu
  --menu-background: #E8EEF2;
  --navbar-square-icon-color: rgba(var(--main-color), 0.15);

  //Sidebar
  --sidebar-background: #E8EEF2;
  --sidebar-log-out-background: #DDE2E5;
  --sidebar-log-out-hover-background: #d1d5d9;
  --sidebar-notification-background: rgba(var(--warning-color), 1);
  --sidebar-notification-color: #000000;

  // Status colors
  --error-color: 255, 34, 12;
  --success-color: 77, 139, 49;
  --warning-color: 247, 92, 3;
  --info-color: 21, 23, 162;

  //Cards
  --card-1-background: transparent;
  --card-1-hover-background: #DDE2E5;

  //Borders
  --border-color: 193, 193, 193;
  --border-width: 1px;
  --large-border-radius: 14px;
  --medium-border-radius: 12px;
  --normal-border-radius: 8px;
  --small-border-radius: 6px;
  --mini-border-radius: 2px;

  //Buttons
  --btn-1-background: rgba(var(--main-color), 1);
  --btn-1-color: #ffffff;
  --btn-1-font-weight: 700;
  --btn-1-hover-background: rgba(var(--main-color), 0.8);

  //Inputs
  --input-background: #EDF2F4;
  --input-placeholder-color: rgba(var(--description-color), 0.8);
  --input-color: rgba(var(--description-color), 1);
}

[data-theme="dark"] {

}
